{% extends "base.html"%}
{%block title%}
about page
{%endblock %}

{%block content%}
<p>Bacha Khan University is a public sector university located in Charsadda, Khyber Pakhtunkhwa.</p>
<p>
<b>It focuses on:</b>
    <ul>
    <li>Quality education</li>
    <li>Research development</li>
    <li>Skill building</li>
</ul>
<b>The university offers programs in:</b>
    <ol>
    <li>Computer Science</li>
    <li>Management Sciences</li>
    <li>Social Sciences</li>
    <li>Social Sciences</li>
    <li>Natural Sciences</li>
</ol>
Its goal is to prepare students for professional careers and national development.

</p>

{%endblock %}
